<template>
    <section class="add-todo">

        <form class="add-todo__form"
              v-if="isFormVisible"
        @submit.prevent="addTodo">
            <button class="close-button" type="button" @click="closeForm">
                <i class="bi bi-x"></i>
            </button>
            <div class="text-input text-input--focus">
                <input class="input" v-model="todoText" />
            </div>
            <button class="button button--filled" type="submit">Add task</button>
        </form>
      <button class="add-todo__show-form-button" v-else @click="showForm">
        <i class="bi bi-plus-lg"></i>
      </button>
    </section>
</template>

<script lang="ts">
import {defineComponent} from "vue";
import {Todo} from "@/types/Todo";
interface State{
  isFormVisible:boolean,
  todoText:string,
}
export default defineComponent({
  name: "AppAddTodo",
  data():State{
    return{
      isFormVisible:false,
      todoText:'',
    }
  },
  methods:{
    addTodo(){
this.$emit('add-todo',{
  id:new Date().getTime(),
  text:this.todoText,
  completed:false,
});
      this.todoText='';
    },
    showForm(){
      this.isFormVisible=true;
    },
    closeForm(){
      this.isFormVisible=false;
    }
  },
  emits:{
    'add-todo':(todo:Todo)=>todo
  }
})



</script>

<style scoped>

</style>