<template>
    <aside class="app-filters">
        <section class="toggle-group">
            <button v-for="filter in filters"
                    :key="filter"
                    @click="setFilter(filter)"
                    class="button " :class="{'button--primary':activeFilter==filter}">{{ filter }}</button>

        </section>
    </aside>
</template>

<script lang="ts">
import {defineComponent, PropType} from "vue";
import {Filter} from "@/types/Filter";
interface State{
  filters:Filter[]
}

    export default defineComponent({
        name: "AppFilters",
      props:{
          activeFilter:{
            type:String as PropType<Filter>,
            required:true,
          }
      },
      data(){
          return{
            filters:['All',
                     'Active',
                     'Done'
            ],
          }
      },
      methods:{
        setFilter(filter:Filter){
          this.$emit('set-filter',filter);

        }
      },
      emits: {
        'set-filter': (filter: Filter) => filter,
      }
    })
</script>

<style scoped>

</style>