<template>
    <header class="app-header">
        <span class="logo">TODOS</span>
    </header>
</template>

<script>
    export default {
        name: "AppHeader"
    }
</script>

<style scoped>

</style>