<template>
    <ul class="todo-list">
<!--<app-todo-item :todo="{id:1,text:'123',completed:true}"></app-todo-item>-->
      <app-todo-item v-for="todo in todos"

                     @toggle-todo="toggleTodo"
                     @delete-todo="deleteTodo"
                     :key="todo.id" :todo="todo"></app-todo-item>

    </ul>
</template>

<script lang="ts">
import {defineComponent, PropType} from 'vue';
    import AppTodoItem from "@/components/AppTodoItem.vue";
    import {Todo} from "@/types/Todo";


    export default defineComponent({
        name: "AppTodoList",
        components:{
            AppTodoItem
        },
      props:{
          todos:{
            type: Array as PropType<Todo[]>
          }
      },
      methods:{
        toggleTodo(id:number){
          this.$emit('toggle-todo',id);
        },
        deleteTodo(id:number){
          this.$emit('delete-todo',id);
        }
      },
      emits:{
          'toggle-todo':(id:number)=>Number.isInteger(id),
          'delete-todo':(id:number)=>Number.isInteger(id),
      }
    })
</script>

<style scoped>

</style>