<template>
<AppHeader></AppHeader>
<AppFilters :active-filter="activeFilter" @set-filter="setFilter"></AppFilters>
  <main class="app-main">
    <AppTodoList :todos="filteredTodos"
                 @toggle-todo="toggleTodo"
                 @delete-todo="deleteTodo"></AppTodoList>
    <AppAddTodo @add-todo="addTodo"></AppAddTodo>
  </main>
  <AppFooter :stats="stats"></AppFooter>

</template>
<script lang="ts">
  import {defineComponent} from 'vue';
  import AppFilters from "@/components/AppFilters.vue";
  import AppHeader from "@/components/AppHeader.vue";
  import AppTodoList from "@/components/AppTodoList.vue";
  import AppAddTodo from "@/components/AppAddTodo.vue";
  import AppFooter from "./components/AppFooter.vue";
  import {Todo} from "@/types/Todo";
  import {Filter} from "@/types/Filter";
  import {Stats} from "@/types/Stats";

  interface State{
    todos:Todo[],
    activeFilter:Filter,
  }

  export default defineComponent({
    components:{

      AppHeader,
      AppFilters,
      AppTodoList,
      AppAddTodo,
      AppFooter
    },
    data():State{
      return{
        todos:[
          {id:1,text:'123',completed:true},
          {id:2,text:'234',completed:true},
          {id:3,text:'456',completed:false},
        ],
        activeFilter:'All',

      }
    },
    computed:{
      stats():Stats{
        return {
          active: this.todos.filter(i=>!i.completed).length,
          done:this.todos.filter(i=>i.completed).length
        }

      },
filteredTodos():Todo[]{
  switch (this.activeFilter){
    case 'All':
      return this.todos;
    case 'Active':
      return this.todos.filter(i=>!i.completed);
    case 'Done':
      return this.todos.filter(i=>i.completed);
    default:
      return this.todos;



  }
}
    },
    methods:{
      setFilter(filter:Filter){
        this.activeFilter=filter;
      },
      addTodo(todo:Todo){
        this.todos.push(todo);
      },
      toggleTodo(id:number){
        let el=this.todos.find(i=>i.id==id);
        if(el){
          el.completed=!el.completed;
        }
      },
      deleteTodo(id:number){
        this.todos=this.todos.filter(i=>i.id!=id);
      }
    }
  });

</script>
